/* Search Bar styling */
.logo {
  height: 35px;
  width: 35px;
}

.filters-column {
  display: flex;
}
.logo-column {
  display: flex;
}
/* Best of styling */

.best-of-row {
  display: grid;
  grid-gap: 10pt;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 1.5rem;
}

.best-of-row img {
  height: 9rem;
  display: flex;
  border-radius: 7pt;
  font-size: xx-large;
}

.best-of-bg-imgs {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  color: rgb(15, 15, 14);
}
/* Best of display */
div.best-of-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10pt;
  padding-top: 1rem;
}
